mixin input-field(label, labelFor, type, name, id, placeholder, required = true)
  div.input-container
    label.label(for=labelFor)= label
    input.text-input(type=type name=name id=id placeholder=placeholder required=required)